/* Estilos gerais */
footer {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #BDC3C7;
  color: #555;
  background-color: #fefefe;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.showcase .jumbotron {
  color: #fefefe;
  background-color: #22A7F0;
  margin: 0;
}
.showcase .jumbotron small {
  color: #fefefe;
}

/* Estilos para tela de selecao de nivel */
.lista-niveis {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  background-color: #fefefe;
}
.lista-niveis .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: #fefefe;
}
.nivel-disponivel {
  background-color: #22A7F0;
  border-color: #22A7F0;
}
.nivel-disponivel:hover, .nivel-disponivel:focus, .nivel-disponivel:active {
  color: #fefefe !important;
  background-color: #1297E0 !important;
  border-color: #1297E0 !important;
}
.nivel-bloqueado {
  background-color: #BDC3C7;
  border-color: #BDC3C7;
}
.nivel-bloqueado:hover, .nivel-bloqueado:focus, .nivel-bloqueado:active {
  color: #fefefe !important;
  background-color: #ADB3B7 !important;
  border-color: #ADB3B7 !important;
}
.fa-lock {
  color: #6C7A89;
}
.star-empty {
  color: #0070BA;
}

/* Estilos para tela de nivel */
.nivel-showcase .fa-long-arrow-left {
  padding-top: 10px;
  color: #fefefe;
}
.nivel-showcase .fa-long-arrow-left:hover,
.nivel-showcase .fa-long-arrow-left:focus,
.nivel-showcase .fa-long-arrow-left:active {
  padding-top: 10px;
  color: #0070BA;
}
.lista-desafios {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  background-color: #fefefe;
}
.lista-desafios .col-xs-12 {
  margin-bottom: 10px;
}
.btn-desafio {
  padding-top: 30px;
  height: 200px;
  background-color: #22A7F0;
  border-color: #22A7F0;
  color: #fefefe;
}
.btn-desafio .progress-circle {
  font-size: 42px;
}
.btn-desafio:hover, .btn-desafio:focus, .btn-desafio:active {
  color: #fefefe !important;
  background-color: #1297E0 !important;
  border-color: #1297E0 !important;
}
.desafio-descricao {
  padding-top: 20px;
}
.progress-circle {
  border: 4px solid #fefefe;
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto 0 auto;
}

/* Estilos para tela de desafio */
.desafio {
  background-color: #22A7F0;
}
.btn1 {
  padding-bottom: 66.66666667%;
  background-color: white;
  margin: 5px;
}
.btn2 {
  padding-bottom: 33.33333333%;
  background-color: white;
  margin: 5px;
}
.btn3 {
  padding-bottom: 66.66666667%;
  background-color: white;
  margin: 5px;
}