<!-- SHOWCASE DA PAGINA -->
<section class="showcase">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">
        94% Wannabe<br>
        <small>Aprenda Engenharia de Software</small>
      </h1>
    </div>
  </div>
</section><!-- /.showcase -->

<section class="inicio-botoes">
  <div class="container">
    <!-- <div class="text-center"> -->
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-2">
          <a class="btn btn-default btn-lg btn-block" target="_blank" href="http://aresistencia.cpdee.ufmg.br/git"><i class="fa fa-github-square fa-lg"></i> Projeto</a>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-2">
          <a class="btn btn-primary btn-lg btn-block" href="lista-niveis.html">Jogar!</a>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-2">
          <a class="btn btn-default btn-lg btn-block" target="_blank" href="http://aresistencia.cpdee.ufmg.br/trello"><i class="fa fa-trello fa-lg"></i> Tarefas</a>
        </div>
      </div>
    <!-- </div> -->
  </div><!-- /.container -->
</section>