<div class="col-xs-6 col-sm-4">
  <a class="btn btn-default btn-lg btn-block"
     ng-href="#/nivel/{{nivel.numero}}"
     ng-class="{ 'nivel-disponivel':nivel.isDisponivel, 'nivel-bloqueado':!nivel.isDisponivel }">
    {{ nivel.numero }}
    <span ng-show="nivel.isDisponivel">
      <i class="fa fa-star" ng-class="{ 'star-empty': nivel.desafiosCompletados === 0 }"></i><!-- 
   --><i class="fa fa-star" ng-class="{ 'star-empty': nivel.desafiosCompletados < 2 }"></i><!-- 
   --><i class="fa fa-star" ng-class="{ 'star-empty': nivel.desafiosCompletados < 3 }"></i>
    </span>
    <span ng-hide="nivel.isDisponivel">
      <i class="fa fa-lock"></i>
    </span>
  </a>
</div>