<div ng-controller="ListaDesafiosController as desafiosCtrl">

  <!-- SHOW CASE DA PAGINA -->
  <section class="showcase nivel-showcase" ng-init="nivel = 1">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <a href="index.html"><i class="fa fa-long-arrow-left fa-3x"></i></a>
          </div>
          <div class="col-xs-10">
            <h2 class="text-center">Nível 0{{nivel}}</h2>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /.showcase -->

  <!-- LISTA DE DESAFIO -->
  <section class="lista-desafios">
    <div class="container">
      <div class="row">
        <!-- <div ng-controller="ListaDesafiosController as desafiosCtrl"> -->
          <div ng-repeat="desafio in desafiosCtrl.desafios">
            <div class="col-xs-12 col-sm-4">
              <a class="btn btn-default btn-lg btn-block btn-desafio"
                 ng-href="#/nivel/{{nivel}}/desafio/{{desafio.numero}}.html">
                <span ng-show="desafio.isCompletado">
                  <i class="fa fa-star fa-3x desafio-icone"></i><br>
                </span>
                <span class="progress-circle" ng-hide="desafio.isCompletado">
                  {{ desafio['pontuacao'] }}
                </span>
                <div class="desafio-descricao">{{ desafio['titulo'] }}</div>
              </a>
            </div>
          </div><!-- /ng-repeat -->
        <!-- </div>/ng-controller -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.lista-desafios -->

</div><!-- /ng-controller -->