<!-- Secao com pergunta, pontuacao no desafio e pontuacao total -->
<section class="showcase desafio-showcase">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-1">
          <!-- Seta para voltar a pagina anterior -->
          <a href="nivel-01.html"><i class="fa fa-long-arrow-left fa-3x"></i></a>
        </div>
        <div class="col-xs-10">
          <!-- Pergunta do desafio -->
          <h2 class="text-center">TITULO DO DESAFIO</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-3 text-center">
          <!-- Pontuacao no desafio -->
          PONTUTAO NO DESAFIO
        </div>
        <div class="col-sm-3 text-center">
          <i class="fa fa-circle fa-2x"></i><br>
          <!-- Pontuacao geral -->
          PONTUACAO GERAL
        </div>
      </div>
    </div><!-- /.container -->
  </div><!-- /.jumbotron -->
</section><!-- /.showcase -->

<!-- Secao com as respostas do desafio -->
<section class="lista-desafios">
  <div class="container">
    <div class="row">
      <div ng-repeat="resposta in respostasCtrl.respostas">
        <div class="col-xs-6 col-sm-3">
          <resposta-button></resposta-button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FORMULARIO DE SUBMISSAO -->
<resposta-form></resposta-form>