<!-- SHOW CASE DA PAGINA -->
<section class="showcase">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">
        94% Wannabe<br>
        <small>Aprenda Engenharia de Software</small>
      </h1>
    </div>
  </div>
</section>

<!-- LISTA DE SELECAO DE NIVEIS -->
<section class="lista-niveis">
  <div class="container">
    <div class="row">
      <div ng-repeat="nivel in niveisCtrl.niveis">
        <div class="col-xs-6 col-sm-4">
          <nivel-button></nivel-button>
        </div>
      </div>
    </div>
  </div>
</section>